<!DOCTYPE html>
<html>
<head>
    <title>Test Interface</title>
</head>
<body>
    <h1>Test Interface</h1>
    
    <!-- Link/button to test the 'name_confirmation' route -->
    <a href="{{ url_for('name_confirmation') }}">Test Name Confirmation</a><br><br>
    
    <!-- Link/button to test the 'cpr_confirmation' route -->
    <a href="{{ url_for('cpr_confirmation') }}">Test CPR Confirmation</a><br><br>

    <!-- Link/button to test the 'result' route -->
    <a href="{{ url_for('result') }}">View Result</a><br><br>
</body>
</html>
